.container {
  width: 700px;
  height: 250px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.error {
  color: red;
}

.button {
  height: 40px;
  width: 90px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: auto;
  border: none;
}